@import "/node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/css/all.min.css";

img {
    max-width: 100%;
}

.cont {
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #434343;
}